<h1>{{{title}}}</h1>

<form action="post">
    <label for="nameInput">Name of budget item</label>
    <input type="text" name="name" id="nameInput">
    <label for="amount">Enter amount here</label>
    <input type="number" name="amount" id="amountInput">
</form>