<h1>{{{title}}}</h1>


CREATE FORM HERE 


Name:  [Name of item]
Amount: [Number] 
Occurrence: DROPDOWN 
            One-Time
            Daily
            Weekly
            Biweekly 
            Twice a Month
            Monthly
Quarterly
            Annually
Date: [date, or day of the week]
Description: [Optional, for client]
