<h1>{{{title}}}</h1>

<div class="container">
  <h2></h2>
  <p></p>
  <form>
    <div class="col-xs-2">
        <label for="occur">Occurrence</label>
        
       
          <select>
  <option value="One-Time">One-Time</option>
  <option value="Daily">Daily</option>
  <option value="Weekly">Weekly</option>
  <option value="Bi-Weekly">Bi-Weekly</option>
  <option value="Twice a Month">Twice a Month</option>
  <option value="Monthly">Monthly</option>
  <option value="Quarterly">Quarterly</option>
  <option value="Annually">Annually</option>
</select>
      <div class="col-xs-2">
        <label for="income">Name (source of income)</label>
        <input class="form-control" id="income" type="text">
      </div>
      <div class="col-xs-2">
        <label for="dollar">Amount</label>
        <input class="form-control" id="dollar" type="number">
      </div>
      

      <div class="col-xs-2">
        <label for="date">Date</label>
        <input class="form-control" id="date" type="date">
      </div>
      <div class="col-xs-2">
        <label for="describe">Description</label>
        <input class="form-control" id="describe" type="text">
      </div>
    </div>
  </form>
</div>






