<h1>{{{title}}}</h1>

<div class="container">
  <h2></h2>
  <p></p>
  <form>
    <div class="form-group row">
      <div class="col-xs-2">
        <label for="income">Income Source</label>
        <input class="form-control" id="income" type="text">
      </div>
      <div class="col-xs-2">
        <label for="dollar">Amount</label>
        <input class="form-control" id="dollar" type="number">
      </div>
      <div class="col-xs-2">
        <div class="dropup">
        <label for="occur">Occurrence</label>
        <input class="form-control" id="occur" type="text">
        <class="dropdown-toggle" data-toggle="dropdown" href="#">

          
      <div class="col-xs-2">
        <label for="date">Date</label>
        <input class="form-control" id="date" type="date">
      </div>
      <div class="col-xs-2">
        <label for="describe">Description</label>
        <input class="form-control" id="describe" type="text">
      </div>

    </div>
  </form>
</div>






