


<h1>{{{title}}}</h1>

<div class="container">
  <h2></h2>
  <p></p>
  <form>
    <div class="form-group row">
      <div class="col-xs-2">
        <label for="income">Income Source</label>
        <input class="form-control" id="income" type="text">
      </div>
      <div class="col-xs-2">
        <label for="dollar">Amount</label>
        <input class="form-control" id="dollar" type="number">
      </div>
      <div class="col-xs-2">
        <label for="occur">Occurrence</label>
        <input class="form-control" id="occur" type="text">
      </div>
      <div class="col-xs-2">
        <label for="date">Date</label>
        <input class="form-control" id="date" type="date">
      </div>

    </div>
  </form>
</div>



















CREATE FORM HERE 


Name:  [Name of item]
Amount: [Number] 
Occurrence: DROPDOWN 
            One-Time
            Daily
            Weekly
            Biweekly 
            Twice a Month
            Monthly
Quarterly
            Annually
Date: [date, or day of the week]



