<div class="container" >
    <h1>WEALTHBUILDER BUDGETING</h1>
    

        <div class="background image" style="height:400px">

            <div class="site-wrapper">

                <div class="site-wrapper-inner">

                    <div class="cover-container">

                    </div>


                <div class="inner cover">
                    <h1 class="cover-heading"></h1>

                    <h3>We created Wealthbuilder Budgeting to plan how to spend or save income received biweekly or at other intervals.<br>
                     The first thing to know if you want to grow your wealth is where your money is going right now.<br>
                     After you enter income and expenses, you can then objectively evaluate how much you want to be saving or investing in wealth.</h3>
                    <p class="lead">
                        <a href="input" class="btn btn-sm btn-default">Click here to begin building your own wealth!</a>
                    </p>
                    Developed by Michael Parnell and Christine Carver, 2019.
                </div>


            </div>

        </div>

    </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->

  <!-- <nav class="navbar navbar-inverse navbar-fixed-bottom"> 
        <div class="container-fluid">
          <div class="navbar-footer ">

            <a class="navbar-brand" href="#">Wealthbuilder Budgeting 2019. Developed and designed by Michael Parnell and Christine Carver.</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="#"><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </nav>
  </div>-->

  
 
<!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>