    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h4 class="masthead-brand">A simple tool to plan and build wealth!</h4>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="/input">Income and Expenses</a></li>
                                <!-- <li><a href="results.html">Results</a></li> -->
                            </ul>
                        </nav>
                    </div>
                </div>



                <div class="inner cover">
                    <h1 class="cover-heading">Wealth Builder Budgeting</h1>
                    <p class="lead">Create a biweekly spending plan that works for you! This will make it easy to
                        calculate your expenses if you receive income every two weeks.</p>
                    <p class="lead">
                        <a href="input" class="btn btn-lg btn-default">Click here to begin building your own wealth!</a>
                    </p>
                </div>


            </div>

        </div>

    </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->

    </div>
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p class="text-center">Created by Michael Parnell and Christine Carver 2019.</p>
    </footer>
    </div>
