<div class="container" style="margin-top:0px">
    <h3></h3>
    <div class="row">
        <div class="col-md-4">
            <p></p>
            <p></p>
        </div>

        <div class="background image" style="height:700px">

            <div class="site-wrapper">

                <div class="site-wrapper-inner">

                    <div class="cover-container">

                    </div>



                    <div class="container">
                        <h1>INCOME</h1>
                        <h2>Enter total monthly income</h2>
                        <form action="/action_page.php">
                            <div class="form-group">
                                <label for="comment"></label>
                                <textarea class="form-control" rows="2" id="comment" name="text"></textarea>
                            </div>


                            <div class="container">
                                <h1>EXPENSES</h1>
                                <h2>Enter monthly expenses</h2>
                                <form action="/action_page.php">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label for="comment" class="col-sm-2 control-label">Living</label>
                                            <div class="col-sm-2">
                                                <input class="form-control" placeholder="$100">
                                            </div>
                                            <div class="col-md-6">
                                                <textarea class="form-control"
                                                    placeholder="Ex: housing (find less expensive apt.), groceries, (compare utility companies), etc."
                                                    rows="1" id="comment" name="text"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="comment" class="col-sm-2 control-label">Transportation</label>
                                            <div class="col-sm-2">
                                                <input class="form-control" placeholder="$100">
                                            </div>
                                            <div class="col-md-6">
                                                <textarea class="form-control"
                                                    placeholder="student loans, credit cards, etc." rows="1"
                                                    id="comment" name="text"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="comment" class="col-sm-2 control-label">Experiences</label>
                                                <div class="col-sm-2">
                                                    <input class="form-control" placeholder="$100">
                                                </div>
                                                <div class="col-md-6">
                                                    <textarea class="form-control"
                                                        placeholder="movies (matinees, dollar shows), vacations (anything nearby?), etc."
                                                        rows="1" id="comment" name="text"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="comment"
                                                    class="col-sm-2 control-label">Health</label>
                                                <div class="col-sm-2">
                                                    <input class="form-control" placeholder="$100">
                                                </div>
                                                <div class="col-md-6">
                                                    <textarea class="form-control"
                                                        placeholder="auto payment, maintenance, insurance, public transportation (goal - bike, walk more)"
                                                        rows="1" id="comment" name="text"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="comment" class="col-sm-2 control-label">Debt</label>
                                                <div class="col-sm-2">
                                                    <input class="form-control" placeholder="$100">
                                                </div>
                                                <div class="col-md-6">
                                                    <textarea class="form-control"
                                                        placeholder="add income or reduce spending to add to savings, investments, etc."
                                                        rows="1" id="comment" name="text"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="comment" class="col-sm-2 control-label">Wealthbuilding</label>
                                                <div class="col-sm-2">
                                                    <input class="form-control" placeholder="$100">
                                                </div>
                                                <div class="col-md-6">
                                                    <textarea class="form-control"
                                                        placeholder="insurance, copays, medications, etc." rows="1"
                                                        id="comment" name="text"></textarea>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label for="comment">EXPENSE MONTHLY TOTAL AND NOTES:</label>
                                                <textarea class="form-control" rows="2" id="comment"
                                                    name="text"></textarea>
                                                <form action="/action_page.php">
                                                    <div class="form-group">

                                                    </div>

                                                   <!-- <div class="container">
                                                        <h2>CREATING WEALTH TAKES FOCUS</h2>

                                                        <div class="form-group">
                                                            <label for="comment">“Great wealthbuilders focus on both
                                                                saving money and earning more.” (Todd Tresidder) You can
                                                                use the space below to dream big and focus on your
                                                                future. Do you want to make any changes or are you
                                                                already on the path to building wealth?</label>
                                                            <textarea class="form-control" rows="2" id="comment"
                                                                name="text"></textarea>
                                                            <form action="/action_page.php">
                                                                <div class="form-group">

                                                                </div> -->


                                                              <!-- <nav class="navbar navbar-inverse navbar-fixed-bottom">
                                                                    <div class="container-fluid">
                                                                        <div class="navbar-header">

                                                                            <a class="navbar-brand" href="#">Developed
                                                                                and designed by Michael Parnell and
                                                                                Christine Carver, 2019.</a>
                                                                        </div>
                                                                        <ul class="nav navbar-nav">
                                                                            <li class="#"><a href="#"></a></li>
                                                                            <li><a href="#"></a></li>
                                                                        </ul>
                                                                    </div>
                                                                </nav> -->
                                                        </div>

        </div>