/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: white
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: black;
  font-size: larger;
  text-shadow: 0 1px white;
  /* Prevent inheritance from `body` */
  background-color: rgb(214, 228, 228);
  border: 3px solid black;
}

.dropdown-menu{
  color: black
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  /* background-color: rgb(0,0,0); */
}

body {
  color: white;
  text-align: center;
  text-shadow: 0 2px 2px black;
   
}



.background-image {
   background-color:(gray,gray,darkgray);
   background-image: url('/images/man-glasses-laptop.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   width: auto;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 0%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px black;
  box-shadow: inset 0 0 100px rgb(45, 53, 62);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 20px;
  margin-bottom: 10px;
}

.masthead-nav>li {
  display: inline-block;
}

.masthead-nav>li+li {
  margin-left: 20px;
}

.masthead-nav>li>a {
  padding-right: 0;
  padding-left: 0;
  font-size: 40px;
  font-weight: bolder;
  color: black;
  /* IE8 proofing */
  color: black;
  border-bottom: 10px solid transparent;
}

.masthead-nav>li>a:hover,
.masthead-nav>li>a:focus {
  background-color: transparent;
  border-bottom: 1px solid transparent;
}


.masthead-nav>.active>a,
.masthead-nav>.active>a:hover,
.masthead-nav>.active>a:focus {
  color: white;
  border-bottom-color: solid transparent;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }

  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: normal;
}


/*
 * Footer
 */

.mastfoot {
  color: white;
  /* IE8 proofing */
  color: black;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {

  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }

  .mastfoot {
    position: fixed;
    bottom: 0;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {

  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;

  }
}
