/*don't know about this-trying to set a background image*/
body {
    background-image: url('images/man.glasses.laptop.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-color:antiquewhite;
    width: auto;
   }